<form ng-submit="search()">
    <input type="search" ng-model="text" required>
    <button type="submit">Search</button>
    <select ng-model="select">
        <option value>Select sort by option</option>
        <option value="-created_at">Created newest</option>
        <option value="created_at">Created oldest</option>
        <option value="stargazers_count">By stars</option>
    </select>
</form>

<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Created</td>
            <td>Stars</td>
        </tr>
        <tr ng-if="error">
            <td colspan="3">Error: {{ error }}</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-if="items" ng-repeat="item in items | orderBy: select">
            <td><a href="#!/single/{{ item.full_name }}">{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.created_at }}</td>
            <td>{{ item.stargazers_count }}</td>
        </tr>
    </tbody>
</table>